.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}




.App-header {
  background:url("../src/assets/carl-raw-m3hn2Kn5Bns-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  min-height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}



.box {
  max-width: "100%";
  min-height:500px;
  background-color:rgba(0, 0, 0, 0.952);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 0;
  color: white;
  font-family: 'Century Gothic', sans-serif;
  border-radius: 15px;
  border: 0.2rem solid #fff;
}
.box-img {
  border-radius: 50%;
  width: 150px;
  height: 160px;
}

.box h1 {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
  text-align: center;
  animation: flicker 1.5s infinite alternate; 
}

.box h5 {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
  text-align: center;
  animation: pulsate 2.5s infinite alternate; 
}
.box h4 {
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 100;
  text-align: center;
  animation: pulsate 2.5s infinite alternate; 
}

.box p {
  text-align: justify;
}

ul {
  margin: 0;
  padding: 0;
}

.box li {
  display: inline-block;
  margin: 6px;
  list-style: none;
}

.box li a {
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}

.box li a:hover {
  color: #b9b9b9;
}

.swingButton{
  color: #333;
	display: block;
	width: 150px;
	padding: 1% 0;
	background: #dedede00;
	text-align: center;
	text-decoration: none;
  border-radius: 5px;
	border: 5px solid #fff;

  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
  animation: swinging 3.5s ease-in-out forwards infinite;
 
}

@-webkit-keyframes swinging{
  0%{-webkit-transform: rotate(10deg);}
  50%{-webkit-transform: rotate(-5deg)}
  100%{-webkit-transform: rotate(10deg);}
}

@keyframes swinging{
  0%{transform: rotate(10deg);}
  50%{transform: rotate(-5deg)}
  100%{transform: rotate(10deg);}
}



/*GREEN*/
@keyframes flicker-green {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

@keyframes pulsate-green {
  10% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  }
  0% {
    /* Smaller blur radius */
    text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #0fa,
      0 0 45px #0fa,
      0 0 55px #0fa,
      0 0 70px #0fa,
      0 0 80px #0fa;
  }
}

/*BLUE*/
@keyframes flicker-blue {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px rgb(0, 81, 255),
      0 0 80px rgb(0, 81, 255),
      0 0 90px rgb(0, 81, 255),
      0 0 100px rgb(0, 81, 255),
      0 0 150px rgb(0, 81, 255);
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

@keyframes pulsate-blue {
  10% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px rgb(0, 81, 255),
      0 0 80px rgb(0, 81, 255),
      0 0 90px rgb(0, 81, 255),
      0 0 100px rgb(0, 81, 255),
      0 0 150px rgb(0, 81, 255);
  }
  0% {
    /* Smaller blur radius */
    text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px rgb(0, 81, 255),
      0 0 45px rgb(0, 81, 255),
      0 0 55px rgb(0, 81, 255),
      0 0 70px rgb(0, 81, 255),
      0 0 80px rgb(0, 81, 255);
  }
}

/*RED*/
@keyframes flicker-red {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px rgb(255, 0, 34),
      0 0 80px rgb(255, 0, 34),
      0 0 90px rgb(255, 0, 34),
      0 0 100px rgb(255, 0, 34),
      0 0 150px rgb(255, 0, 34);
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

@keyframes pulsate-red {
  10% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px rgb(255, 0, 34),
      0 0 80px rgb(255, 0, 34),
      0 0 90px rgb(255, 0, 34),
      0 0 100px rgb(255, 0, 34),
      0 0 150px rgb(255, 0, 34);
  }
  0% {
    /* Smaller blur radius */
    text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px rgb(255, 0, 34),
      0 0 45px rgb(255, 0, 34),
      0 0 55px rgb(255, 0, 34),
      0 0 70px rgb(255, 0, 34),
      0 0 80px rgb(255, 0, 34);
  }
}


/*PURPLE*/
@keyframes flicker-purple {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px rgb(162, 0, 255),
      0 0 80px rgb(162, 0, 255),
      0 0 90px rgb(162, 0, 255),
      0 0 100px rgb(162, 0, 255),
      0 0 150px rgb(162, 0, 255);
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

@keyframes pulsate-purple {
  10% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px rgb(162, 0, 255),
      0 0 80px rgb(162, 0, 255),
      0 0 90px rgb(162, 0, 255),
      0 0 100px rgb(162, 0, 255),
      0 0 150px rgb(162, 0, 255);
  }
  0% {
    /* Smaller blur radius */
    text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px rgb(162, 0, 255),
      0 0 45px rgb(162, 0, 255),
      0 0 55px rgb(162, 0, 255),
      0 0 70px rgb(162, 0, 255),
      0 0 80px rgb(162, 0, 255);
  }
}


/*PURPLE*/
@keyframes flicker-yellow {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px rgb(251, 255, 0),
      0 0 80px rgb(251, 255, 0),
      0 0 90px rgb(251, 255, 0),
      0 0 100px rgb(251, 255, 0),
      0 0 150px rgb(251, 255, 0);
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

@keyframes pulsate-yellow {
  10% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px rgb(251, 255, 0),
      0 0 80px rgb(251, 255, 0),
      0 0 90px rgb(251, 255, 0),
      0 0 100px rgb(251, 255, 0),
      0 0 150px rgb(251, 255, 0);
  }
  0% {
    /* Smaller blur radius */
    text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px rgb(251, 255, 0),
      0 0 45px rgb(251, 255, 0),
      0 0 55px rgb(251, 255, 0),
      0 0 70px rgb(251, 255, 0),
      0 0 80px rgb(251, 255, 0);
  }
}